.banner {
  height: 600px;
  padding: 100px 0;
  color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 0 0 #545454;
}

.banner p, .banner h1 {
  text-shadow: 0 0 8px rgb(0 0 0);
}
